<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Future</title>
</head>
<body>
<p align="center">
    <a th:href="addLord">Добавить нового повелителя.</a> <br><br>
    <a th:href="addPlanet">Добавить новую планету.</a><br><br>
    <a th:href="lordSetPlanet">Назначить повелителя управлять планетой.</a><br><br>
    <a th:href="deletePlanet">Уничтожить планету.</a><br><br>
    <a th:href="findUnemploedLord">Найти повелителей без планет.</a><br><br>
    <a th:href="top-10yongest">Топ 10 самых молодых повелителей.</a><br><br>
</p>
</body>
</html>